# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual env
venv/
.venv/

# =========================
# FASTAPI
# =========================
.env
.env.*

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# DOCKER
# =========================
postgres_data/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# MYPY
# =========================
.mypy_cache/

# =========================
# COVERAGE
# =========================
.coverage
htmlcov/